<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            visible="true">
         <run
               class="stock.gui.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="stock.gui.application.Perspective"
            id="StockGui.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="StockGui.application"
            name="Stock Analysis">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="stock.gui.views.StockListView"
            id="StockGui.ListView"
            name="List View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="StockGui.perspective">
         <view
               id="StockGui.ListView"
               minimized="false"
               ratio=".3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="StockGui.addCompany"
                  label="Add Company"
                  style="push">
            </command>
         </menu>
         <menu
               label="Views">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Show View"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="stock.gui.handlers.AddCompanyHandler"
            id="StockGui.addCompany"
            name="Add Company">
      </command>
   </extension>

</plugin>
