<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="simugen.gui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="simugen.gui.Perspective"
            name="Perspective"
            id="TestGui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="simugen.gui.views.ConsoleView"
            name="Console"
            id="SimGui.Console.View"
            inject="true">
      </view>
      <view
            class="simugen.gui.views.ModelSettingsView"
            id="SimGui.ModelSettings.View"
            name="Model Settings"
            restorable="true">
      </view>
      <view
            class="simugen.gui.views.OutputView"
            id="SimGui.Output.View"
            name="Output"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
   </extension>

</plugin>
